<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982630579115-ta616o8319bv9cai6nu6dc6l5jfjoof8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982630579115-ta616o8319bv9cai6nu6dc6l5jfjoof8</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ-tYpjY0ThOmjVXAxudbsdlavD-L8Wak</string>
	<key>GCM_SENDER_ID</key>
	<string>982630579115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shhhNoise</string>
	<key>PROJECT_ID</key>
	<string>bhhh-noise</string>
	<key>STORAGE_BUCKET</key>
	<string>bhhh-noise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982630579115:ios:0bb8812c59731bf4dfb0ee</string>
</dict>
</plist>